<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ls cmd</title>
  <link href="stylesheets/style.css"
        media="screen"
        rel="stylesheet"
        type="text/css">
</head>
<body>
  <form onsubmit="addCmd(event)">
    <fieldset title="Add a command">
      <legend>Add a command</legend><select id="cmdOrGit">
        <option value="cmds">
          bash
        </option>
        <option value="gits">
          git
        </option>
      </select> <input id="newCmd"
                placeholder="command"
                type="text"> <input id="newDesc"
                placeholder="command description"
                type="text"> <button id="submitButton"
                type="submit">+</button>
    </fieldset>
  </form>
  <div id="container">
    <div>
      <h3>Bash Commands</h3>
      <ul id="cmd"></ul>
    </div>
    <div>
      <h3>Git Commands</h3>
      <ul id="git"></ul>
    </div>
  </div>
  <script src="javascripts/main.js"></script>
</body>
</html>
