body {
    display: flex;
    padding: 5vw;
}

#left {
    width: 40vw;
    float: left;
}

#right {
    width: 40vw;
    float: left;
}

li {
    font-family: monospace;
    font-size: 16px;
}

#cmdgit h2 {
    font-family: monospace;
    font-size: 24px;
}

#cmdgit pre {
    font-family: sans-serif;
    font-style: italic;
    font-size: 18px;
}
